/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}
html {
  background-image: url("../images/site/checkerboard.jpg");
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color:white;
  width: 85%;
  margin: 1% auto;
  padding: 1%;
  border-radius: 1%;
  border-style: solid;
  border-width: thick;
  border-color: rgb(29, 147, 190);
}
h3, h2 {
  margin: 0;
}
.siteName a {
  font-size: xx-large;
  font-weight: bolder;
  text-decoration: none;
  color: black;
  
}
#tools a{
  text-decoration: none;
  color: black;
  font-weight: bold;
}
#tools a:hover {
  color: rgb(25, 63, 233);
  font-weight: bold;
}
header {
  font-family: 'Open Sans', sans-serif;
  display: flex;
  justify-content: space-between;
}
#hero-container{
  height: 300px;
}
#hero {
  background-image: url("../images/vehicles/delorean.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
}

#specs {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.565);
  color: rgb(29, 190, 190);
  font-size:medium;
  top: 10%;
  left: 10%;
  margin: auto;
  width: 25%;
}

#specs a {
  background-color: rgba(255, 255, 255, 0.2);
  text-align: start;
}

#own {
  width: 75%;
  margin-top: 1rem;
  /* transform: translateX(15%); */
 
}

nav > ul{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style-type: none;
  background-color: black;
  color: white;
  padding: 2%;
}
nav li{
  color: azure;
  cursor: pointer;
  background-color: black;
}
nav li:hover {
  color: rgb(29, 190, 190);
}

li a {
  text-decoration: none;
  color: white;
}
li a:hover {
  color: rgb(29, 190, 190);
}
#inv-display {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-basis:auto;
}
#inv-display li {
  /* border: 1px solid black; */
  list-style: none;
  height: 100%;
  margin: 1rem;
  /* border-radius: 2%; */
  text-align: center;
}
#inv-display li a img {
  height: 150px ;
  max-width: 100%;
  border-radius: 2%;
  margin: 1rem;
}
.namePrice a{
  text-decoration: none;
  color: black;
  text-align: center;
}
#details-display {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 10px;
}
#details-display img {
  width:100%;
}
#details-display-error {
  background-color: rgba(8, 8, 8, 0.082);
  padding: .8%;
  text-align: center;
}
.error-img img{
  max-width: 500px;
  width:100%;
}

form {
  padding: 2%;
  margin: 1% auto;
  background-color: #00698B;
  display: flex;
  align-items:flex-start;
  justify-items: flex-start;
  flex-direction: column;
  border-radius: 3%;
  box-shadow: 10px 10px 5px lightblue;
  font-size: large;
  border: 2px solid grey;
  width: 50%;
  color: white;
}
#loginFields{
  display: flex;
  flex-direction: column;
  border: none;
  margin: 1% auto;
}

label, input, button, span{
  padding: 3%;
  border-radius: 2%;
  border: none;
}
button {
  margin-top: 3%;
  padding: 3% 12%;
  color: #00698B;
  font-weight: bold;
  background-color: whitesmoke;
  border-radius: 15px;
}
label {
  padding-left: 0;
  padding-bottom: 0;
  font-weight: bold;
}
input {
  width: 200px;
  border-radius: 5px;
}
button:hover, #pswdBtn:hover {
  cursor:pointer;
  background-color:  rgb(153, 171, 182);
  color: yellow;
}
button, #no-account {
  margin-top: 4%;
  align-self: center;
}
#sign-up {
  color: white;
}
#sign-up:hover{
  color: yellow
}
.notice {
  color: red
}
#requirements p{
  font-size: small;
  margin: 0;
  padding: 0;
}
#requirements p:not(:first-of-type){
  padding-left: 10px;
}
input:required:invalid, input:focus:invalid {
border: 2px solid #e62b12;
}
input:required:valid {
border: 2px solid #00bfff;
}
#upgrade-review {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 5% 3%;
  padding-bottom: 1rem;
}
#upgrades, #reviews {
  padding-top: 16px;
}
#reviews {
  grid-column: 2;
}
#upgrades {
  grid-row: 1;
}
#reviews-list {
  display: grid;
  grid-row: 2/3;
  gap: 20% 0%;
  margin-top: 0;
  padding: 0 5% ;
}
#upgrades-container{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 5% 5%;
  margin-top: 2%;
  
}
 .item{
  background-color: rgb(28, 131, 204);
  width: 160px;
  justify-self: center;
  align-self: center;
  text-align: center;
 }
.item > img {
  align-self: center;
  justify-self: center;
  margin: 3%;
  height: 70px;
} 
.item a {
  text-align: center;
  background-color: white;
  width: 100%;
  display: block;
}

footer {
  padding-top: 1rem;
}

@media screen and (max-width: 750px) {
  html{
    background: #ffff;
  }
  h3, h2 {
    font-size: 90%;
  }
  h2 {
    font-weight: bolder;
    font-size: 1rem;
  }
  body {
    background-color:white;
    border-radius: 0;
    width: 100%;
    margin: auto;
    border-style: none;
    padding: .5em;
  }
  #specs {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.565);
    color: rgb(29, 190, 190);
    font-size:medium;
    top: 0%;
    left: 0%;
    margin: auto;
    width: 30%;
  }
  #details-display {
  grid-template-columns: 1fr;
  gap: 10px;
}
  #upgrade-review {
    grid-template-columns: 1fr;
  }
  #upgrades{
    grid-column: 1;
    grid-row: 2;
  }
  #reviews{
    grid-column: 1;
    grid-row: 1;
  }
  #reviews-list {
    gap: 7% 0%;
    margin-top: 0;
    margin-bottom: 10%;
    padding: 0 5% ;
  }
}