<% if (title) { %>
<h1><%= title %></h1>
<% } else {
  res.redirect('/')
} %>

<%- messages() %>

<div id="management">
        <a href="/inv/add_classification" title="Add new classification" >Add New Classification</a><br>
        <a href="/inv/add_vehicle" title="Add new vehicle" >Add New Vehicle</a>
</div>

<h2>Manage Inventory</h2>
  <p>Choose a classification to see those-inventory items</p>
    <%- classificationSelect %>

    <table id="inventoryDisplay"></table>
    <script src="../../js/inventory-table.js"></script>